<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP lINKS</title>
</head>
<body>
    <h1>Top links - kartik bhardwaj</h1>
    <form action="/login" method="post">
        <button type="submit"><img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.1920.png" alt="signin with twitter button" ></button>
    </form>
    <br>
    <strong>Click on the sign in with twitter button and authorise the app. After a few seconds you will be redirected to the dashboard</strong>
    <br>
    <small><i>pardon for the poor UI</i></small>

</body>
</html>